body {
    background-color:#fff5ec;
}

.btn btn-secondary { 
    colour: #f6bfff; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffcc99;
}

.navbar-custom {
    background-color: #ffcc99;
}

h1 {
    padding: 2%;
    background-color: #ffcc99;
}

footer {
    padding: 2%;
    background-color: #ffcc99;
}

div.row {
    padding: 2%;
}

text {
    color: #32373b
}